
<header class="pt-4">
    <h1 class="display-1" style="text-align:left;">
        <a href="/" style="text-decoration: none;color: inherit;">Alibazon</a>
        <span style="float: right;">
            <ul class="display-5">
                <li><a href="/categories/mens" class="btn btn-outline" aria-disabled="true" role="button">
                    Men's
                </a></li>
                <li><a href="/categories/womens" class="btn btn-outline" aria-disabled="true" role="button">
                    Womens's
                </a></li>
                
                <li><a href="/cart" class="btn btn-outline" aria-disabled="true" role="button">
                    Cart
                </a></li>
                <li><a href="/users/signIn" class="btn btn-outline" aria-disabled="true" role="button">
                    Sign In
                </a></li>
                <li><a href="/users/signout" class="btn btn-outline" aria-disabled="true" role="button">
                    Sign Out
                </a></li>
                <li><a href="/users/profile" class="btn btn-outline" aria-disabled="true" role="button">
                    User profile
                </a></li>
            </ul>    
              
        
        </span>
    </h1>
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <form class="card card-sm">
                <div class="card-body row no-gutters align-items-center">
                    <div class="col-auto">
                        <i class="fas fa-search h4 text-body"></i>
                    </div>
                  
                    <div class="col">
                        <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search products">
                    </div>
                   
                    <div class="col-auto">
                        <button class="btn btn-lg btn-success" type="submit">Search</button>
                    </div>
                   
                </div>
            </form>
        </div>
        
    </div>
    <hr>
      
</header>